<h1>View Departments, Roles, and Employees here</h1>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Choose which to view</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="1">Department</option>
    <option value="2">Role</option>
    <option value="3">Employee</option>
  </select>
</div>